<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon App Automation">
    <test name="Amazon App Product Search">
         <classes>
             <class name="ExperionGlobal.AmazonApp.AppTest"/>
             
        </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->